

<ul class="m3-keyTask-group">
  {% for item in list %}
  <li class="m3-keyTask">
    <a href="#modal-{{ page.phase }}-{{item.keyTask}}" class="m3-keyTask-link" aria-controls="modal-{{ page.phase }}-{{item.keyTask}}" data-open-modal >
      <div class="responsibleParty {{ item.responsibleParty }}"></div>
      <div class="m3-keyTask-body">
        
        <div class="keyTask-id">{{ page.phase }}.{{item.keyTask}}</div>
        <div class="keyTask-name">{{ item.name }}</div>

        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="/img/sprite.svg#person"></use>
        </svg>
        Customer
        
        <button class="usa-button usa-button--outline">View Details</button>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>

{% for item in list %}
    
  <div class="usa-modal side-modal" id="modal-{{ page.phase }}-{{item.keyTask}}" aria-labelledby="modal-1-heading" aria-describedby="modal-1-description">
    <div class="usa-modal__content">
      <section class="usa-modal__main">

        <section class="borderBottom">
          <div class="keyTask-id">{{ page.phase }}.{{item.keyTask}}</div>
          <h2>{{ item.name }}</h2>
        </section>

        <section class="borderBottom">
          <h3>Responsible Party</h3>
          <div class="m3-tag {{ item.responsibleParty }}">{{ item.responsibleParty }}</div>
        </section>

        <section class="borderBottom">
          <h3>Inputs</h3>
          <ul>
          {% for input in item.inputs %}
            <li>{{input}}</li>
            {% assign keyTasks = site.pages | where: 'layout', 'keyTask' | where: 'inputs', page.phase %}
          {% endfor %}
          </ul>
        </section>

        <section>
          <h3>Outputs</h3>
          <ul>
          {% for output in item.outputs %}
            <li>{{output}}</li>
          {% endfor %}
          </ul>
        </section>

        <section class="textAlignCenter">
          <a href="{{site.baseurl}}/m3/subphase/{{ page.phase }}.{{item.keyTask}}" class="usa-button">
            View Details
          </a>
        </section>

    </div>
  </div>
{% endfor %}