{% comment %}
This appears at the top of the page letting the user know it's an official government website
{% endcomment %}

{% assign phaseCounter = 0 %}

<div class="usa-step-indicator" aria-label="progress">
  <ol class="usa-step-indicator__segments">
    {% for item in site.data.m3 %}
      <li class="usa-step-indicator__segment
        {% if forloop.index == step %}
          usa-step-indicator__segment--current
        {% endif %}">
        {% assign url = "/m3/" | append: item.url | relative_url %}
        {% if item.isPhase %}
          {% assign url = "/m3/phase/" | append: phaseCounter | relative_url %}
          {% assign phaseCounter = phaseCounter | plus: 1 %}
        {% endif %}
        <a href="{{ url }}" class="usa-step-indicator__segment-label">{{ item.name }}<span class="usa-sr-only">completed</span></a>
      </li>
    
    {% endfor %}
  </ol>
</div>