
#keyTaskHeader {
  h2 {
    display: inline-block;
  }

  ul {
    float: right;
    margin: 1.5em 0;
  }
}
.prevnext{
  display: flex;
  justify-content: space-between;
}
.next{
  margin-left: auto;
}

.m3-taskActivity{
  display:grid;
  grid-template:
    [row1-start] "name name name name" auto [row1-end]
    [row2-start] "responsibleParty output template example" auto [row2-end]
    / 140px auto 200px 140px;
  padding-bottom: 0.5em;
  border-bottom: 1px solid lightgrey;

  .keyTask-output{
    grid-area:output;
  }
  .keyTask-name{
    grid-area:name;
    margin-bottom: 0.5em;
  }
  .keyTask-responsibleParty{
    grid-area:responsibleParty;
  }
  .keyTask-output{
    grid-area:output;
  }
  .keyTask-template{
    grid-area:template;
  }
  .keyTask-example{
    grid-area:example;
  }
}


.m3-process-list{
  .usa-process-list__item {
    max-width: none;
    max-height: 200px;
    transition: all 0.5s ease;
    &::before {
      border: none;
      color: white;
      font-size: 1em;
      content: attr(data-number);
    }
    &[data-label~="customer"]::before {
      background-color: $color-customer;
    }
    &[data-label~="provider"]::before {
      background-color: $color-provider;
    }
    &[data-label~="qsmo"]::before {
      background-color: $color-qsmo;
    }
    &[data-label~="shared"]::before {
      background-color: $color-shared;
    }
    &.hidden{
      display:none;
    }
    &[aria-hidden="true"]{
      max-height: 0;
      opacity: 0;
      padding-bottom: 0;
    }
  }
}
.m3-tag[aria-selected="true"]{
  color: white;
  &.customer{
    background-color: $color-customer;
    .usa-icon {
      fill: white;
    }
  }
  &.provider{
    background-color: $color-provider;
    .usa-icon {
      stroke: white;
    }
  }
  &.qsmo{
    background-color: $color-qsmo;
    .usa-icon {
      fill: white;
    }
  }
  &.shared{
    background-color: $color-shared;
    .usa-icon {
      fill: white;
    }
  }
}


#documentation{
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 3px 5px #dfe1e2;
  padding: 1em;
  ul {
    padding-left: 0;
    list-style-position: inside;
  }
  .stakeholders{
    ul{
      list-style: none;
      li::before{
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        width: 1em;
      }
    }
    .customerStakeholders{
      li::before{
        color: $color-customer;
      }
    }
    .providerStakeholders{
      li::before{
        color: $color-provider;
      }
    }
    .qsmoStakeholders{
      li::before{
        color: $color-qsmo;
      }
    }
    .sharedStakeholders{
      li::before{
        color: $color-shared;
      }
    }
  }
}