---
layout: default
---


{% assign parent = site.pages | where: 'layout', 'm3' | where: 'phase', page.phase | first %}



<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">

      <div class="desktop:grid-col-12">
        
        <a href="{{'/m3/introduction' | relative_url}}">M3 Playbook</a> > <a href="{{parent.url | relative_url}}">Phase {{parent.phase}}: {{parent.name}}</a> > {{page.phase}}.{{page.keyTask}} {{page.name}}
        
        
        <h1>{{page.phase}}.{{page.keyTask}} {{page.name}}</h1>
        <br>
        <br>
        Category: {{page.category}}</h1>
        <br>
        <br>
        {% assign prevTask = page.keyTask | minus: 1 %}
        {% assign prev = site.pages | where: 'phase', page.phase | where: 'keyTask', prevTask | first %}
        {% if prev %}
          Previous activity:
          <a href="{{site.baseurl}}/m3/subphase/{{prev.phase}}.{{prev.keyTask}}">
            {{prev.phase}}.{{prev.keyTask}} {{prev.name}}
          </a>
          <br>
          <br>
        {% endif %}
        {% assign nextTask = page.keyTask | plus: 1 %}
        {% assign next = site.pages | where: 'phase', page.phase | where: 'keyTask', nextTask | first %}
        {% if next %}
          Next activity:
          <a href="{{site.baseurl}}/m3/subphase/{{next.phase}}.{{next.keyTask}}">
            {{next.phase}}.{{next.keyTask}} {{next.name}}
          </a>
          <br>
          <br>
        {% endif %}
        <br>
        <br>

        Objective: {{page.objective}}
        <br>
        <br>
        Downloads:
        <a href="{{page.downloads.guidance}}"><b>Phase {{phase}} Guidance</b></a>
        <br>
        <br>
        Activities
        <ol class="usa-process-list">
          {% for item in page.activities %}
          <li class="usa-process-list__item party-{{item.responsibleParty}}">
            <p class="usa-process-list__heading font-sans-md line-height-sans-1">{{ item.text }}</p>
            <b>({{item.responsibleParty}})</b>
          </li>
          {% endfor %}
        </ol>
        <br>
        <br>
        Inputs
        <ul>
          {% for item in page.inputs %}
          <li>
            {{ item }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Outputs
        <ul>
          {% for item in page.outputs %}
          <li>
            {{ item }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Stakeholders
        <ul>
          {% for item in page.stakeholders %}
          <li>
            {{ item.text }} <b>({{item.responsibleParty}})</b>
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Best Practice
        <ul>
          {% for item in page.bestPractice %}
          <li>
            {{ item }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        
      </div>
    </div>
  </div>
</div>