---
layout: default
---

{%- comment -%}
page.title is the filename of the markdown file
It provides the phase and the activity number
{%- endcomment -%}
{% assign phase = page.title | split: "." | first %}
{% assign activity = page.title | split: "." | last %}

{%- comment -%}
Use the phase to determine which step we are on (for the step indicator)
{%- endcomment -%}
{% assign stepIndex = phase | plus: 2 %}
{% assign step = phase | plus: 3 %}

{%- comment -%}
Use the step number to find the parent
{%- endcomment -%}
{% assign parent = site.data.m3[stepIndex] %}

{%- comment -%}
Use the activity number to find the next and previous activities
{%- endcomment -%}
{% assign prevIndex = activity | minus: 2 %}
{% assign prevIndexPlus1 = prevIndex | plus: 1 %}
{% assign prev = parent.activities[prevIndex] %}

{% assign nextIndex = activity | minus: 0 %}
{% assign nextIndexPlus1 = nextIndex | plus: 1 %}
{% assign next = parent.activities[nextIndex] %}

{% assign currentIndex = activity | minus: 1 %}
{% assign current = parent.activities[currentIndex] %}

{% assign firstStepURL = "/m3/" | append: site.data.m3[0].url | relative_url %}
{% assign parentStepURL = "/m3/phase/" | append: phase | relative_url %}
{% assign prevSubPhaseURL = "/m3/subphase/" | append: phase | append: "." | append: prevIndexPlus1 | relative_url %}
{% assign nextSubPhaseURL = "/m3/subphase/" | append: phase | append: "." | append: nextIndexPlus1 | relative_url %}


<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">

      {% include step-indicator.html %}

      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">

        {%- comment -%}Breadcrumbs{%- endcomment -%}
        {{relative_url}}
        {{baseurl}}
        <a href="{{firstStepURL}}">M3 Playbook</a> > <a href="{{parentStepURL}}">{{parent.name}}</a>
        
        
        <h1>{{page.title}} {{current}}</h1>
        <br>
        <br>
        Category: {{page.category}}</h1>
        <br>
        <br>
        {% if prevIndex >= 0 %}
          Previous activity:
          <a href="{{prevSubPhaseURL}}">
            {{phase}}.{{prevIndex | plus: 1}} {{prev}}
          </a>
          <br>
          <br>
        {% endif %}
        {%- comment -%}
        {% if next %}
          Next activity: <a href="{{nextSubPhaseURL}}">
            {{phase}}.{{nextIndex | plus: 1}} {{next}}
          </a>
          <br>
          <br>
        {% endif %}
        {%- endcomment -%}
        Next activity: <a href="{{nextSubPhaseURL}}">
          {{phase}}.{{nextIndex | plus: 1}} {{next}}
        </a>
        <br>
        <br>

        Objective: {{page.objective}}
        <br>
        <br>
        Downloads:
        <a href="{{page.downloads.guidance}}"><b>Phase {{phase}} Guidance</b></a>
        <br>
        <br>
        Activities
        <ol>
          {% for item in page.activities %}
          <li>
            {{ item.text }} <b>({{item.responsibleParty}})</b>
          </li>
          {% endfor %}
        </ol>
        <br>
        <br>
        Inputs
        <ul>
          {% for item in page.inputs %}
          <li>
            {{ item }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Outputs
        <ul>
          {% for item in page.outputs %}
          <li>
            {{ item }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Stakeholders
        <ul>
          {% for item in page.stakeholders %}
          <li>
            {{ item.text }} <b>({{item.responsibleParty}})</b>
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Best Practice
        <ul>
          {% for item in page.bestPractice %}
          <li>
            {{ item }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        
      </div>
    </div>
  </div>
</div>