---
layout: default
---

{% comment %}
This is an example showing how you can load date from the _data/ folder
{% endcomment %}



{% assign step0 = page.phase | plus: 2 %}
{% assign step = page.phase | plus: 3 %}
{% assign prev = page.activity | minus: 2 %}
{% assign next = page.activity %}
{% assign parent = site.data.m3.steps[step0] %}


<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">

      {% comment %} Step Indicator {% endcomment %}
      <div class="usa-step-indicator" aria-label="progress">
        <ol class="usa-step-indicator__segments">
          {% for item in site.data.m3.steps %}
            <li class="usa-step-indicator__segment
              {% if forloop.index == step %}
                usa-step-indicator__segment--current
              {% endif %}">
              <a href="/m3/{{ item.url }}" class="usa-step-indicator__segment-label"><b>{{ item.name }}</b><span class="usa-sr-only">completed</span></a>
            </li>
          {% endfor %}
        </ol>
      </div>

      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">

        {%- comment -%}Breadcrumbs{%- endcomment -%}
        <a href="/m3/{{site.data.m3.steps[0].url}}">M3 Playbook</a> > <a href="/m3/{{parent.url}}">{{parent.name}}</a>
        
        
        <h1>{{page.phase}}.{{page.activity}} {{page.name}}</h1>
        <br>
        <br>
        {% if prev >= 0 %}
          Previous activity: <a href="/m3/activities/{{page.phase}}.{{prev | plus: 1}}">{{site.data.m3.steps[step0].activities[prev]}}</a>
          <br>
          <br>
        {% endif %}
        {%- comment -%} TODO if it exists {%- endcomment -%}
        {% if site.data.m3.steps[step0].activities[next] %}
          Next activity: <a href="/m3/activities/{{page.phase}}.{{next | plus: 1}}">{{site.data.m3.steps[step0].activities[next]}}</a>
          <br>
          <br>
        {% endif %}

        Objective: {{page.objective}}
        <br>
        <br>
        Downloads:
        <a href="{{page.downloads.guidance}}"><b>Phase {{page.phase}} Guidance</b></a>
        <br>
        <br>
        Activities
        <ol>
          {% for item in page.activities %}
          <li>
            {{ item.text }} <b>({{item.responsibleParty}})</b>
          </li>
          {% endfor %}
        </ol>
        <br>
        <br>
        Inputs
        <ul>
          {% for item in page.inputs %}
          <li>
            {{ item }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Outputs
        <ul>
          {% for item in page.outputs %}
          <li>
            {{ item }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Stakeholders
        <ul>
          {% for item in page.stakeholders %}
          <li>
            {{ item.text }} <b>({{item.responsibleParty}})</b>
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Best Practice
        <ul>
          {% for item in page.bestPractice %}
          <li>
            {{ item }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        
      </div>
    </div>
  </div>
</div>