---
layout: default
---

{% comment %}
This is an example showing how you can load date from the _data/ folder
{% endcomment %}

{% assign prev = "" %}
{% assign next = "" %}


<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">

      {% comment %} Step Indicator {% endcomment %}
      <div class="usa-step-indicator" aria-label="progress">
        <ol class="usa-step-indicator__segments">
          {% for item in site.data[page.datafile] %}
            <li class="usa-step-indicator__segment
              {% if forloop.index == page.step %}
                usa-step-indicator__segment--current
              {% endif %}">
              <a href="{{ item.url }}" class="usa-step-indicator__segment-label"><b>{{ item.name }}</b><span class="usa-sr-only">completed</span></a>
            </li>
            {% for activity in item.activities %}
              
            {% endfor %}
          {% endfor %}
        </ol>
      </div>

      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        M3 Playbook > Phase {{page.phase}}: Assessment
        <h1>{{page.title}}</h1>
        <br>
        <br>
        Previous activity: 
        <br>
        <br>

        Objective: {{page.objective}}
        <br>
        <br>
        Downloads:
        <br>
        <a href="{{page.downloads.playbook}}"><b>Phase {{page.phase}} Playbook</b></a>
        <br>
        <a href="{{page.downloads.guidance}}"><b>Phase {{page.phase}} Guidance</b></a>
        {% if page.downloads.tollgate %}
        <br>
        <a href="{{page.downloads.tollgate}}"><b>Phase {{page.phase}} Tollgate</b></a>
        {% endif %}
        <br>
        <br>
        {{page.title}} Activities
        Program Management
        <ul>
          {% for item in page.activities.programManagement %}
          <li>
            <a href="{{ item.url }}"><b>{{ item.name }}</b></a>: {{item.responsibleParty}}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Workforce, Organization, and Stakeholders 
        <ul>
          {% for item in page.activities.workforceOrganizationAndStakeholders  %}
          <li>
            <a href="{{ item.url }}"><b>{{ item.name }}</b></a>: {{ item.responsibleParty }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Technology 
        <ul>
          {% for item in page.activities.technology %}
          <li>
            <a href="{{ item.url }}"><b>{{ item.name }}</b></a>: {{ item.responsibleParty }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Process and Service Delivery 
        <ul>
          {% for item in page.activities.processAndServiceDelivery  %}
          <li>
            <a href="{{ item.url }}"><b>{{ item.name }}</b></a>: {{ item.responsibleParty }}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Phase {{page.phase}} Documentation:
        <br>
        The following documentation is developed during Phase {{page.phase}}, follows Federal CPIC requirements, and is used to inform a review, if necessary. Agencies should follow CPIC guidance to develop these outputs. Agencies purchasing transaction processing services only will identify relevant activities and artifacts for their projects using the <a href="https://ussm.gsa.gov/assets/files/Tailoring-Guide8.29.18.xlsx">M3 Services Tailoring Guide</a>.
        <br>
        <br>
        Artifact Samples:	
        <br>
        For sample documentation from previous modernizations and migrations, please go to <a href="https://community.max.gov/pages/viewpage.action?spaceKey=GSA&title=M3+Artifact+Samples">M3 Artifact Samples MAX Page</a>.
        <br>
        <br>
        Documentation
        <ul>
          {% for item in page.documentation  %}
          <li>
            {% if item.url %}
            <a href="{{ item.url }}"><b>{{ item.name }}</b></a>
            {% else %}
            <b>{{ item.name }}</b>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Information Contained in Review Discussion (if necessary)
        <ul>
          {% for item in page.tollagetInfo  %}
          <li>
            {% if item.url %}
            <a href="{{ item.url }}"><b>{{ item.name }}</b></a>
            {% else %}
            <b>{{ item.name }}</b>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Exit Criteria (to Move to Phase {{ page.phase | to_integer | plus: 1 }})
        <ul>
          {% for item in page.exitCriteria  %}
          <li>
            {% if item.url %}
            <a href="{{ item.url }}"><b>{{ item.name }}</b></a>
            {% else %}
            <b>{{ item.name }}</b>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        
      </div>
    </div>
  </div>
</div>