---
layout: default
---

<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">

      <div class="desktop:grid-col-12">
        <a href="{{'/m3/introduction' | relative_url}}">M3 Playbook</a> > Phase {{page.phase}}: {{page.name}}
        <h1>Phase {{page.phase}}: {{page.name}}</h1>
      </div>

      <div class="desktop:grid-col-9">

        <div class="m3-summary-box usa-summary-box" role="complementary">
          <div class="usa-summary-box__body">
            <h3 class="usa-summary-box__heading">Objective</h3>
            <div class="usa-summary-box__text">
              <p>{{page.objective}}</p>
            </div>
          </div>
        </div>
        <div class="keyTasks show-customer show-provider show-QSMO show-shared">
          <div id="keyTaskHeader">
            <h2>Key Tasks</h2>
            <ul id="keyTaskLegend">
              <li class="m3-tag customer" onclick="this.closest('.keyTasks').classList.toggle('show-customer')">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="{{site.baseurl}}/img/spritesheet.svg#{% include categoryTag.html category = "customer" %}"></use>
                </svg>
                Customer
              </li>
              <li class="m3-tag provider" onclick="this.closest('.keyTasks').classList.toggle('show-provider')">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="{{site.baseurl}}/img/spritesheet.svg#{% include categoryTag.html category = "provider" %}"></use>
                </svg>
                Provider
              </li>
              <li class="m3-tag shared" onclick="this.closest('.keyTasks').classList.toggle('show-shared')">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="{{site.baseurl}}/img/spritesheet.svg#{% include categoryTag.html category = "shared" %}"></use>
                </svg>
                Shared
              </li>
              <li class="m3-tag qsmo" onclick="this.closest('.keyTasks').classList.toggle('show-qsmo')">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="{{site.baseurl}}/img/spritesheet.svg#{% include categoryTag.html category = "qsmo" %}"></use>
                </svg>
                QSMO
              </li>
            </ul>
          </div>
          <section class="keyTaskCategory programManagement">
            <h3 id="" class="keyTaskCategoryHeading">
              <svg aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{site.baseurl}}/img/icon-programManagement.svg#icon-programManagement"></use>
              </svg>
              Program Management
            </h3>
            {% assign keyTasks = site.pages | where: 'layout', 'keyTask' | where: 'phase', page.phase %}
            {% assign list = keyTasks | where: 'category', 'programManagement' %}
            {% include keyTaskList.html %}
          </section>
          
          <section class="keyTaskCategory workforce">
            <h3 id="" class="keyTaskCategoryHeading">
              <svg aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{site.baseurl}}/img/icon-workforce.svg#icon-workforce"></use>
              </svg>
              Workforce, Organization, and Stakeholders
            </h3>
            {% assign keyTasks = site.pages | where: 'layout', 'keyTask' | where: 'phase', page.phase %}
            {% assign list = keyTasks | where: 'category', 'workforce' %}
            {% include keyTaskList.html %}
          </section>
          
          <section class="keyTaskCategory technology">
            <h3 id="" class="keyTaskCategoryHeading">
              <svg aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{site.baseurl}}/img/icon-technology.svg#icon-technology"></use>
              </svg>
              Technology
            </h3>
            {% assign keyTasks = site.pages | where: 'layout', 'keyTask' | where: 'phase', page.phase %}
            {% assign list = keyTasks | where: 'category', 'technology' %}
            {% include keyTaskList.html %}
          </section>
          
          <section class="keyTaskCategory process">
            <h3 id="" class="keyTaskCategoryHeading">
              <svg aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{site.baseurl}}/img/icon-process.svg#icon-process"></use>
              </svg>
              Process and Service Delivery
            </h3>
            {% assign keyTasks = site.pages | where: 'layout', 'keyTask' | where: 'phase', page.phase %}
            {% assign list = keyTasks | where: 'category', 'process' %}
            {% include keyTaskList.html %}
          </section>
        </div>

        <div class="m3-summary-box usa-summary-box" role="complementary">
          <div class="usa-summary-box__body">
            <h3 class="usa-summary-box__heading">Criteria to Exit Phase {{ page.phase }}</h3>
            <div class="usa-summary-box__text">
              <ul>
                {% for item in page.exitCriteria  %}
                <li>
                  {% if item.url %}
                  <a href="{{site.baseurl}}/m3/{{ item.url }}">{{ item.name }}</a>
                  {% else %}
                  {{ item.name }}
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="desktop:grid-col-3">

        <section id="documentation">
          <h2>Phase {{ page.phase }} Artifact Samples:	</h2>
          <a href="https://community.max.gov/pages/viewpage.action?spaceKey=GSA&title=M3+Artifact+Samples">M3 Artifact Samples MAX Page</a>
          <h2>Phase {{ page.phase }} Documentation</h2>
          <ul>
            {% for item in page.documentation  %}
            <li>
              {% if item.url %}
              <a href="{{site.baseurl}}/m3/{{ item.url }}">{{ item.name }}</a>
              {% else %}
              {{ item.name }}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </section>
        
      </div>
    </div>
  </div>
</div>