---
layout: default
---
{%- comment -%}
TODO - Determine index of the first phase by stepping through items
{% assign firstPhase = 0 %}
{% for item in site.data.m3 %}
  {% if item.isPhase %}
    {% assign firstPhase = loop.index | plus: 0 %}
    firstPhaseLOOP: {{firstPhase}}
    {% break %}
  {% endif %}
{% endfor %}
{%- endcomment -%}
{% assign firstPhase = 2 %}

{%- comment -%}
{% assign phase = page.step | minus: 3 %}
{% assign step0 = page.step | minus: 1 %}
{%- endcomment -%}
{% assign step0 = page.title | plus: firstPhase %} 
{% assign step = step0 | plus: 1 %} 
{% assign phase = page.title | plus: 0 %}
{% assign subPhaseCounter = 1 %}
{% assign pageData = site.data.m3[step0] %}


<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">

      {% include step-indicator.html %}
      {% assign phase = page.title | plus: 0 %}
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1>{{pageData.name}}</h1>
        Objective: {{page.objective}}
        <br>
        <br>
        Downloads:
        <br>
        <a href="{{page.downloads.playbook}}">Phase {{phase}} Playbook</a>
        <br>
        <a href="{{page.downloads.guidance}}">Phase {{phase}} Guidance</a>
        {% if page.downloads.tollgate %}
        <br>
        <a href="{{page.downloads.tollgate}}">Phase {{phase}} Tollgate</a>
        {% endif %}
        <br>
        <br>
        {{page.title}} Activities
        <br>
        <br>
        {% assign subpage = site.pages | where: 'title', '1.7' %}
        OMG{{ subpage[0].name }}
        <br>
        <br>
        Program Management
        <br>
        <br>
        <ul>
          {% for item in pageData.activities.programManagement %}
          <li>
            <a href="/m3/subphase/{{ phase }}.{{subPhaseCounter}}">{{ phase }}.{{subPhaseCounter}} {{ item.name }}</a> ({{ item.responsibleParty }})
          </li>
          {% assign subPhaseCounter = subPhaseCounter | plus: 1 %}
          {% endfor %}
        </ul>
        <br>
        <br>
        Workforce, Organization, and Stakeholders 
        <ul>
          {% for item in pageData.activities.organization  %}
          <li>
            <a href="/m3/subphase/{{ phase }}.{{subPhaseCounter}}">{{ phase }}.{{subPhaseCounter}} {{ item.name }}</a> ({{ item.responsibleParty }})
          </li>
          {% assign subPhaseCounter = subPhaseCounter | plus: 1 %}
          {% endfor %}
        </ul>
        <br>
        <br>
        Technology 
        <ul>
          {% for item in pageData.activities.technology %}
          <li>
            <a href="/m3/subphase/{{ phase }}.{{subPhaseCounter}}">{{ phase }}.{{subPhaseCounter}} {{ item.name }}</a> ({{ item.responsibleParty }})
          </li>
          {% assign subPhaseCounter = subPhaseCounter | plus: 1 %}
          {% endfor %}
        </ul>
        <br>
        <br>
        Process and Service Delivery 
        <ul>
          {% for item in pageData.activities.process  %}
          <li>
            <a href="/m3/subphase/{{ phase }}.{{subPhaseCounter}}">{{ phase }}.{{subPhaseCounter}} {{ item.name }}</a> ({{ item.responsibleParty }})
          </li>
          {% assign subPhaseCounter = subPhaseCounter | plus: 1 %}
          {% endfor %}
        </ul>
        <br>
        <br>
        Phase {{phase}} Documentation:
        <br>
        The following documentation is developed during Phase {{phase}}, follows Federal CPIC requirements, and is used to inform a review, if necessary. Agencies should follow CPIC guidance to develop these outputs. Agencies purchasing transaction processing services only will identify relevant activities and artifacts for their projects using the <a href="https://ussm.gsa.gov/assets/files/Tailoring-Guide8.29.18.xlsx">M3 Services Tailoring Guide</a>.
        <br>
        <br>
        Artifact Samples:	
        <br>
        For sample documentation from previous modernizations and migrations, please go to <a href="https://community.max.gov/pages/viewpage.action?spaceKey=GSA&title=M3+Artifact+Samples">M3 Artifact Samples MAX Page</a>.
        <br>
        <br>
        Documentation
        <ul>
          {% for item in page.documentation  %}
          <li>
            {% if item.url %}
            <a href="/m3/{{ item.url }}">{{ item.name }}</a>
            {% else %}
            {{ item.name }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Information Contained in Review Discussion (if necessary)
        <ul>
          {% for item in page.tollageInfo  %}
          <li>
            {% if item.url %}
            <a href="/m3/{{ item.url }}">{{ item.name }}</a>
            {% else %}
            {{ item.name }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Exit Criteria (to Move to Phase {{ phase | to_integer | plus: 1 }})
        <ul>
          {% for item in page.exitCriteria  %}
          <li>
            {% if item.url %}
            <a href="/m3/{{ item.url }}">{{ item.name }}</a>
            {% else %}
            {{ item.name }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        
      </div>
    </div>
  </div>
</div>