---
layout: default
---

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">

      {% include step-indicator.html %}
      
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1>Phase {{page.phase}}: {{page.name}}</h1>
        Objective: {{page.objective}}
        <br>
        <br>
        Downloads:
        <br>
        <a href="{{page.downloads.playbook}}">Phase {{page.phase}} Playbook</a>
        <br>
        <a href="{{page.downloads.guidance}}">Phase {{page.phase}} Guidance</a>
        {% if page.downloads.tollgate %}
        <br>
        <a href="{{page.downloads.tollgate}}">Phase {{page.phase}} Tollgate</a>
        {% endif %}
        <br>
        <br>
        Key Tasks
        <br>
        <br>
        Program Management
        {% assign keyTasks = site.pages | where: 'layout', 'keyTask' | where: 'phase', page.phase %}
        {% assign programManagement = keyTasks | where: 'category', 'programManagement' %}
        {{keyTasks | length }}
        <ul>
          {% for item in programManagement %}
          <li>
            <a href="/m3/subphase/{{ page.phase }}.{{item.keyTask}}">{{ page.phase }}.{{item.keyTask}} {{ item.name }}</a> ({{ item.responsibleParty }})
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Workforce, Organization, and Stakeholders 
        {% assign workforce = keyTasks | where: 'category', 'workforce' %}
        {{keyTasks | length }}
        <ul>
          {% for item in workforce %}
          <li>
            <a href="/m3/subphase/{{ page.phase }}.{{item.keyTask}}">{{ page.phase }}.{{item.keyTask}} {{ item.name }}</a> ({{ item.responsibleParty }})
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Technology 
        {% assign technology = keyTasks | where: 'category', 'technology' %}
        {{keyTasks | length }}
        <ul>
          {% for item in technology %}
          <li>
            <a href="/m3/subphase/{{ page.phase }}.{{item.keyTask}}">{{ page.phase }}.{{item.keyTask}} {{ item.name }}</a> ({{ item.responsibleParty }})
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Process and Service Delivery 
        {% assign process = keyTasks | where: 'category', 'process' %}
        {{keyTasks | length }}
        <ul>
          {% for item in process %}
          <li>
            <a href="/m3/subphase/{{ page.phase }}.{{item.keyTask}}">{{ page.phase }}.{{item.keyTask}} {{ item.name }}</a> ({{ item.responsibleParty }})
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Phase {{ page.phase }} Documentation:
        <br>
        The following documentation is developed during Phase {{ page.phase }}, follows Federal CPIC requirements, and is used to inform a review, if necessary. Agencies should follow CPIC guidance to develop these outputs. Agencies purchasing transaction processing services only will identify relevant activities and artifacts for their projects using the <a href="https://ussm.gsa.gov/assets/files/Tailoring-Guide8.29.18.xlsx">M3 Services Tailoring Guide</a>.
        <br>
        <br>
        Artifact Samples:	
        <br>
        For sample documentation from previous modernizations and migrations, please go to <a href="https://community.max.gov/pages/viewpage.action?spaceKey=GSA&title=M3+Artifact+Samples">M3 Artifact Samples MAX Page</a>.
        <br>
        <br>
        Documentation
        <ul>
          {% for item in page.documentation  %}
          <li>
            {% if item.url %}
            <a href="/m3/{{ item.url }}">{{ item.name }}</a>
            {% else %}
            {{ item.name }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Information Contained in Review Discussion (if necessary)
        <ul>
          {% for item in page.tollageInfo  %}
          <li>
            {% if item.url %}
            <a href="/m3/{{ item.url }}">{{ item.name }}</a>
            {% else %}
            {{ item.name }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <br>
        <br>
        Exit Criteria (to Move to Phase {{ phase | to_integer | plus: 1 }})
        <ul>
          {% for item in page.exitCriteria  %}
          <li>
            {% if item.url %}
            <a href="/m3/{{ item.url }}">{{ item.name }}</a>
            {% else %}
            {{ item.name }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        
      </div>
    </div>
  </div>
</div>